body {
    background-color: #FFA500;
    color: white;
    text-align: center;
    font-size: 1.4rem;
}

h1, h2, h3 {
    font-weight: 300;
    background-color: #FFA500;
    font-family: cursive;
}

h2, h3 {
    margin: 0;
}